# pycache
__pycache__/

# Pycharm IDE
.idea/

# .pyc
*.pyc

# OSX
.DS_Store

# Vscode
.vscode/

# Original Data File
dblp.xml

# Temporary Data File
*.csv

# Analysis File
counting_analysis.py
Pre-processing.txt
